sudo: false
language: node_js
node_js:
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
  - "2"
  - "1"
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
before_script: 
 - npm install -g istanbul
 - npm install -g codeclimate-test-reporter
script: istanbul cover -v test/run.js 
after_script:
 - codeclimate-test-reporter < coverage/lcov.info
env: 
 - CODECLIMATE_REPO_TOKEN=bf76396ea4203efae32535ae532142b2346648900a0a18a9378231353b62e148